*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
html{
    background: #e9eef4;
    border-color: #bcbfc2;
}
#result{
    padding: .5rem 1rem 0;
    text-align: right;
    height: 50px;
    font-size: 1.8rem;
    color: #0e0e0e;
    background: #e9eef4;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.container-grid{
    padding: 5rem 0;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.title{
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(132,228,235);
    color: rgb(6,76,206);
}
.calculator{
    border-top: 1px solid #bcbfc2;);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}
.number{
    background: #e9eef4;
    border-color: #bcbfc2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.operration{
    background: #e9eef4;
    border-color: #bcbfc2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}
.btn{
    border: none;
    width: 100%;
    font-size: 1.5rem;
    color: #0e0e0e;
    background: #e9eef4;
    outline: none;
    cursor: pointer;
}
.operration .btn{
    color: #1a73e0;
}
.btn:active{
    border-radius: 50%;
    background: #e9eef4;
    cursor: pointer;
}

/*#result::-webkit-scrollbar {*/
/*    height: 3px;*/
/*    width: 3px;*/
/*    background: #fff;*/
/*}*/